<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="navbar-inner">
    <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse"
                data-target=".nav-collapse">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <a class="brand" href="./index">human resources application</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class=""><a href="./jobs">Jobs</a></li>
                <li class=""><a href="./createjob">Create a new job listing</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>