<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<div class="ui top fixed menu">
    <div class="item">
        <img src="/images/logo.png">
    </div>
    <a class="item" href="/">Home</a>
    <a class="item" href="/jobs">Jobs</a>
    <a sec:authorize="isAuthenticated()" class="item" href="/createjob">Create New Job</a>
    <a sec:authorize="isAuthenticated()" class="item" href="/applications">Applications</a>
    <a sec:authorize="isAnonymous()" class="item" href="/login">Login</a>
    <a sec:authorize="isAuthenticated()" class="item" href="/logout">Logout</a>
</div>



<div class="ui main text container" style="margin-top: 6rem">

    <div class="ui two column centered grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui teal ribbon label">Job Title</a>
                <span th:text="${jobDetail.title}">Job Title</span>
                <p></p>
                <a class="ui teal ribbon label">Job Description</a>
                <span th:text="${jobDetail.description}">Job Description</span>
                <p></p>
                <a class="ui teal ribbon label">Number of People to Hire</a>
                <span th:text="${jobDetail.numberToHire}">Available Number</span>
                <p></p>
                <a class="ui teal ribbon label">Last Application Date</a>
                <span th:text="${jobDetail.lastDate}">Last Application Date</span>
                <p></p>
            </div>

        </div>
    </div>

    <h2 class="ui center aligned icon header">
        <a sec:authorize="isAuthenticated()" th:href="@{'/delete/' + ${jobDetail.id}}">Delete Job</a>
    </h2>

    <div sec:authorize="isAnonymous()">
        <h2 class="ui center aligned icon header">

            <i class="file alternate icon"></i>
            Job Application Form
        </h2>

        <form class="ui form" th:action="@{/saveapplication}" method="post" th:object="${newApplication}" enctype="multipart/form-data">

            <div class="field">
                <label>Name & Surname</label>
                <input type="text" name="name-surname" placeholder="Name Surname" th:field="*{name}">
            </div>

            <div class="field">
                <label>Email</label>
                <input type="email" name="email" placeholder="example@example.com" th:field="*{email}">
            </div>

            <div class="field">

                <div class="field" style="margin-top: 0.75rem">
                    <label>Phone</label>
                    <input type="text" name="phone" maxlength="11" placeholder="Phone" th:field="*{phone}">
                </div>
            </div>

            <div class="ui form">
                <div class="field">
                    <label>Address</label>
                    <textarea rows="2" placeholder="Address" th:field="*{address}"></textarea>
                </div>
            </div>
            <div class="ui form">
                <div class="field" style="margin-top: 0.6rem">
                    <label>Thoughts</label>
                    <textarea rows="2" placeholder="Thoughts" th:field="*{thoughts}"></textarea>
                </div>
            </div>

            <button class="ui button" type="submit" style="margin-top: 0.8rem">
                Submit
            </button>

        </form>
    </div>

</div>

</body>
</html>