<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div class="jobs" align="center">
    <table border="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Number of people to hire</th>
                <th>Last application date</th>
                <th>Actions</th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="job : ${listJobs}">
                <td th:text="${job.id}"></td>
                <td th:text="${job.title}"></td>
                <td th:text="${job.description}"></td>
                <td th:text="${job.numberToHire}"></td>
                <td th:text="${job.lastDate}"></td>
                <td>    <a th:href="@{'/delete/' + ${job.id}}">Delete</a>
                        <a th:href="@{'/job/' + ${job.id}}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>